<!DOCTYPE html>
<html lang="en"
      ng-app="MyApp"
      ng-controller="MyCtrl">
  <head>

    <title>The San Francisco Stupid Shit No One Needs and Terrible Ideas Hackathon - 2016 Projects</title>

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=League+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap-grid-only.css" />

    <link href='2016.css' rel='stylesheet' />
    <style>
      .title {
        font-size: 30px;
        font-weight: bold;
      }
      .team {
        font-size: 14px;
      }
      .project {
        margin-bottom: 2em;
        min-height: 400px;
      }

      a {
        text-decoration: underline;
      }
    </style>

    <script type="text/javascript" src="lib/underscore.min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-sanitize.js"></script>
    <script type="text/javascript">
var app = angular.module('MyApp', ['ngSanitize']);
app.controller('MyCtrl', function($scope, $http, $sce) {

  // To regenerate this file, `python submissions.py`
  $http.get('submissions.json').then(function(response) {
    $scope.projects = response.data;
  });

  $scope.getVideoUrl = function(project) {
    return $sce.trustAsResourceUrl(
      _.template(
        "https://www.youtube.com/embed/k4Ec5_DQTnA?start=<%= video_start %>&end=<%= video_end %>"
      )(project)
    );
  };

});
app.filter('unsafe', function($sce) { return $sce.trustAsHtml; });
    </script>

  </head>
  <body>

    <div class="section narrow dark">
      <p><a href="/"><i class="fa fa-arrow-left"></i> BACK TO THE STUPID HACKATHON WEBSITE</a></p>
      THE SAN FRANCISCO STUPID SHIT NO ONE NEEDS AND TERRIBLE IDEAS "HACKATHON" ACTUALLY HAPPENED!<br/>HERE ARE SOME THINGS PEOPLE MADE AT IT
    </div>

    <div class="section">

      <div ng-repeat="project in projects"
           class="project col-xs-12 col-lg-6">
        <div class="title">
          <a ng-if="project.link" href="{{project.link}}">
            <span ng-bind-html="project.title | unsafe"></span>
          </a>
          <span ng-if="!project.link"
                ng-bind-html="project.title | unsafe"></span>
        </div>
        <div class="team" ng-bind-html="project.team | unsafe"></div>
        <p ng-bind-html="project.description | unsafe"></p>
        <p ng-if="project.video_start && project.video_end">
          <iframe width="420" height="236"
                  src="{{getVideoUrl(project)}}"
                  frameborder="0" allowfullscreen></iframe>
        </p>

      </div>

    </div>

  </body>
</html>
