@import mixins

h2
  font-size: 30px

a
  text-decoration: none
  color: #f15050
  +transition(color 0.2s)
  &:hover
    color: #ffb4b4

/* layout */

html
  background: url(images/artisanal_wood.jpg) fixed 

body
  padding: 0
  margin: 0
  text-align: center

  font-family: 'Montserrat', sans-serif
  font-size: 20px
  color: #fff

.cursive
  font-family: 'League Script', cursive

.caps
  text-transform: uppercase

img.inline
  height: 1.2em
  vertical-align: text-bottom

.logo
  margin: 0 auto
  width: 400px

.section
  padding: 2em 10vw
  &.dark
    background-color: rgba(30,30,30,0.9)
  &.light
    background-color: rgba(256, 256, 256, 0.25)

.delaunay
  +bg-fix
  background-image: url('images/delaunay_green.png')
  color: #555
  +letterpress
  a
    color: #555
    &:hover
      color: #000
