@font-face {
    font-family: Impact;
    src: url(../2019/assets/Impact.ttf); }

html{
    /* background-color: rgb(255,0,0,0.2); */
    color: black;
    /* margin: 0px 48px; */
    overflow-x: hidden;
}

h1, h2, h3, p {
    max-width: 520px;
    font-family: Akkurat, Arial, sans-serif;
}

h1, h2 {
    /* text-transform: lowercase; */
}

h2, h3 {
    font-weight: 400;
    line-height: 1.4em;
}

h1 {
    font-size: 48px;
    /* font-family: Impact; */
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    line-height: 1.12em;
}

h2 {
    font-size: 28px;
    max-width: 650px;
}

h3, a {
    /* text-transform: uppercase; */
    /* letter-spacing: 4px; */
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    text-transform: lowercase;
}

a {
    color: mediumslateblue;
    text-decoration: none;
}

a:hover {
    color: blue;
}

input, button {
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
    border-radius: 8px;
    border:  none;
    padding: 12px 16px;;
    padding-top: 10px;
    min-width: 124px;
    margin: 0px;
    font-size: 20px;
    background-color: rgba(250,220,240,1.0);
    border: 1px solid black;
    background-color: white;
    color: black;
    letter-spacing: 0.5px;
    /* font-weight: 800; */
}

button:hover {
   background-color: blue;
   color: white;
}


.section {
    height: 640px;
    /* background-color: rgba(0,0,0,0.3); */
    display: flex;
}

.section-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:rgba(255,0,0,0.3); */
}

.half-col {
    width: 50%;
}

.full-col {
    width: 100%;
}

.text-col {
    margin-left: 32px;
}

img {
    width: 80%;
    height: 70%;
    border-radius: 4px;
    
    
}

.img-meme {
    margin-top: 0px;
    position: absolute;
    height: 180px;
    width: 40%;
    
}

.img-meme-container {
    
}

.pixel:hover {
    opacity: 0;
}

.img-proj {
    height: 500px;
    width: 320px;
    background-color: red;
    flex: 0 0 auto;
    object-fit: cover;
    margin-right: 8px;
}

.img-proj-container {
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.img-proj-container::-webkit-scrollbar {
        display: none;
      
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.img-logo {
    width: 32px;
    padding-left: 20px;
    padding-right: 8px;
}

footer {
    margin: 40px 0px;
    padding-top: 100px;
    
    text-align: left;
    width: 100%;
}



footer > h3 {
    max-width: 4000px;
}

.footer-text {
    max-width: none;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}






/* MOBILE */

@media only screen
and (max-width : 1000px)
 {
    .img-meme {
        width: 200px;
        height: 200px;
    }
 }
@media only screen
and (max-width : 720px)
 {
    html{
        margin: 0px 24px;
    }

    .section {
        height: 100%;
        flex-direction: column;
    }

    .section-item {
        padding-bottom: 72px;
        justify-content: start;
    }

    .half-col {
        width: 100%;
    }


    .text-col {
        margin: 0;
    }

    img {
        width: 100%;
        height: 70%;
        /* border-radius: 12px; */
        
    }

    .img-meme {
        position: relative;
        width: 100%;
        height: 80vh;
        margin-top: 40px;
    }

    .img-meme:hover {
        opacity: 1.0;
    }

    .unpixel {
        display: none;
    }

    footer {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }


 }